body {
    max-width: 900px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Abril;
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: Josefin;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
} 

/* Menu */
.menu {
    display: flex;
    justify-content: space-evenly;padding: 1em;
    list-style: none;
    padding: 0;
    display: flex;
    border-radius: 0.5rem;
    font-size: large;
}

a {
    display: inline-block;
    color: rgb(226,126,75);
    text-decoration: none;
    padding: 0.5rem;
    font-family: Abril;
    justify-content: space-between;
    border-radius: 0.5rem;
}

a:hover {
    color: beige;
    background-color: rgb(226,126,75);
    box-shadow: 5px 5px 5px gray;
}

a:active {
    color: bisque;
    background-color: rgb(226,126,75);
    box-shadow: 5px 5px 5px gray;
}

/* Tekst */
h1 {
    font-family: Abril;
    color: white;
}
h2, h4 {
    font-family: Abril;
    color: rgb(242, 137, 156);
}
h3 {
    font-family: Abril;
    color: black;
}

p, li {
    font-family: montserrat;
}

/* Knapper/links */
.quiz {
    font-family: montserrat;
    text-decoration: underline;
    color: white;
    font-size: medium;
}
.quiz:hover {
    background-color: rgb(226,126,75);
    text-decoration: underline;
}
.smage, .anledning {
    text-align: center;
} 
.opskrift {
    font-family: montserrat;
    text-decoration: underline;
    color: black;
}

/* TEKST FORAN BILLEDE */
section {
    display: grid;
    position: relative;
}

img, h1, .quiz, .text-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    place-self: stretch;
    object-fit: cover;
    z-index: 1; /* Image stays behind */
}

.text-container {
    align-self: end; 
    justify-self: start; 
    padding: 10px 20px;
    color: white;
    z-index: 2; /* Ensure text is in front */
    padding-right: 5cm;
}

h1, .quiz {
    margin: 0;
}

h1 {
    font-size: xx-large;
}

/* billeder */
.drinks {
    border-radius: 20px;
}

/* Udforsk */
.boks {
    display: inline-block;
    background-color: rgba(244, 167, 125, 0.700);
    border-radius: 30px;
    margin-top: 1cm;
    padding-inline: 0.3cm;
}
.tropisk {
    font-style: italic;
    display: inline-block;
    background-color: rgb(226,126,75, 0.700);
    border-radius: 20px;
    padding: 0.5cm;
}
.link {
    font-family: montserrat;
    text-decoration: underline;
    color: black;
}
.guava {
    border-radius: 50px;
}