/* Mobile first */
.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: left;
}

img.col {
    max-width: 100%;
    height: auto;
    display: block;
    justify-self: center;
}

/* Desktop */
@media (min-width: 900px) {
    
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        padding: 1cm;
    }

    img.col {
        justify-self: end;
    }

}