/* Mobile first */

/* Tablets */
@media (width>=700px) {
    max-width: 1000px;
    margin: 0 auto;
}

/* Desktop */
@media (width>1200px) {
    /* resets */
    /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */
    
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 1cm;
        padding-left: 1cm;
    }

}