/* Mobile first */
.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: left;
    padding: 1cm;
}

img.col {
    max-width: 100%;
    height: auto;
    display: block;
    justify-self: center;
}

.button-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center; 
    max-width: 700px;
    margin: auto;
    padding: 1cm;
}


/* Desktop */
@media (min-width: 900px) {
    
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        padding: 1cm;
    }

    img.col {
        justify-self: end;
    }

    .button-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 15px;
        justify-content: center; 
        max-width: 700px;
        margin: auto;
        padding-top: 1cm;
        padding-bottom: 1cm;
    }

}