body {
    max-width: 900px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
/* Fonts */
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Abril;
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: Josefin;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
} 

/* Menu */
.menu {
    display: flex;
    justify-content: space-evenly;padding: 1em;
    list-style: none;
    padding: 0;
    display: flex;
    border-radius: 0.5rem;
    font-size: large;
}

.menu a {
    display: inline-block;
    color: rgb(226,126,75);
    text-decoration: none;
    padding: 0.5rem;
    font-family: Abril;
    justify-content: space-between;
    border-radius: 0.5rem;
}

a:hover, a:active {
    color: beige;
    background-color: rgb(226,126,75);
    box-shadow: 5px 5px 5px gray;
}

/* Tekst */
h1, h2, h3, h4 {
    font-family: abril;
}
h1 {
    color: white;
    font-size: xx-large;
    margin: 0;
    text-transform: uppercase;
}
h2, h3, h4 {
    color: rgb(242, 137, 156);
    padding-top: 0.5cm;
}
p, li {
    font-family: montserrat;
    line-height: 1.5;
    padding-right: 0.5cm;
}

/* Knapper/links */
.quiz {
    font-family: montserrat;
    text-decoration: underline;
    color: white;
    font-size: medium;
}
.quiz:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    box-shadow: none;
    text-shadow: 5px 5px 5px black;
    font-style: oblique;
}
.smage {
    text-align: center;
    padding-top: 1cm;
} 
.opskrift {
    font-family: montserrat;
    text-decoration: underline;
    color: black;
    display: block;
    padding-top: 0.5cm;
}
.opskrift:hover {
    color: black;
    background-color: transparent;
    box-shadow: none;
    text-shadow: 5px 5px 5px rgb(226,126,75);
    font-style: oblique;
}
.btn {
    font-family: abril;
    display: block;
    padding: 10px 15px;
    background-color: #FF7C36;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
.btn:hover {
    background-color: #FF7C36;
    box-shadow: 5px 5px 5px grey;
    font-style: oblique;
}

/* billeder */
.drinks {
    border-radius: 30px;
}

/* Udforsk */
.boks {
    display: inline-block;
    background-color: rgba(244, 167, 125, 0.700);
    border-radius: 30px;
    margin: 1cm;
    padding-inline: 0.3cm;
}
.bruger {
    font-family: Abril;
    color: black;
}
.tropisk {
    font-style: italic;
    display: inline-block;
    background-color: rgb(226,126,75, 0.700);
    border-radius: 20px;
    padding: 0.5cm;
}
.link {
    font-family: montserrat;
    text-decoration: underline;
    color: black;
}
.guava {
    border-radius: 50px;
    border: 5px solid white;
}
.col {
    padding-left: 1cm;
}
/* Kajas coconut, basil breeze */
.tekst2 {
    padding-left: 2cm;
    padding-bottom: 2cm;
    line-height: 2;
}
.ingredienser {
    padding-left: 1cm;
}
.ingredienser li {
    line-height: 2.5;
}

/* MENU */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    position:static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }
@media screen and (max-width: 800px) {
    /* .menu {
      display: none;
    } */
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }
    nav.active .menu {
      display: block;
      background-color: #ffffff;
      position: absolute;
      top: 94px;
      left: 0;
      width: 100%;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
    nav.active .menu li {
      margin: 10px 20px;
    }
    nav.active .menu a {
      font-size: 24px;
    }
    
}

/* Quiz */
.spørgsmål {
    font-weight: bold; 
    margin-top: 20px; 
}

ol[type="A"] {
    margin-top: 5px;
    padding-left: 30px; 
}

ol[type="A"] li {
    margin-bottom: 5px;
}
.results p {
    margin-bottom: 20px;
    line-height: 1.5;
    padding-left: 1cm;
}

.results strong {
    display: block;
    margin-bottom: 5px;
}

.results a {
    display: block;
    margin-top: 5px;
    color: rgb(242, 137, 156);
    text-decoration: underline;
}

/* Footer */
footer {
    margin: auto;
    padding: 1cm 0;
    font-family: josefin;
}
